* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'inter-regular';
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'opensans-bold';
  src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'opensans-regular';
  src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'opensans-semibold';
  src: url(fonts/OpenSans-SemiBold.ttf);
}

a {
  text-decoration: none;
}

body {
  background: rgba(240, 245, 240, 1);
}

.mini-header {
  width: 100%;
  height: 40px;
  background: rgba(1, 55, 12, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}

.box-1 {
  width: 104px;
  height: 32px;
}

.discount {
  color: rgba(240, 234, 210, 1);
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.card-and-account {
  width: 104px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart, .acc {
  width: 24px;
  height: 24px;
}

nav {
  width: 100%;
  height: 80px;
  background: none;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-1 {
  width: 133px;
  height: 51px;
  background: url(images/PAP-Logo.png);
}

.menu-items {
  width: 688px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.home, .a-1 {
  font-family: 'opensans-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: rgba(52, 52, 52, 1);
}

.home {
  width: 53px;
  height: 25px;
}

.plants-div, .planters-div, 
.essentials-div, .services-div {
  display: flex;
  justify-content: space-between;
  height: 25px;
}

.plants-div {
  width: 82px;
}

.expand-1 {
  width: 24px;
  height: 24px;
}

.planters-div {
  width: 100px;
}

.essentials-div {
  width: 114px;
}

.services-div {
  width: 99px;
}

input[type="search"] {
  width: 203px;
  height: 40px;
  border: 2px solid #343434;
  border-radius: 6px;
  outline: none;
  background: none;
  padding-left: 48px;
}

input[type="search"]::placeholder {
  color: rgba(52, 52, 52, 0.5);
  font-family: 'opensans-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.search-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 8px 0px 0px 15px;
}

.shop-background {
  width: 100%;
  height: 320px;
  background: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop {
  color: rgba(255, 255, 255, 1);
  font-family: 'opensans-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 136px;
}

.center {
  width: 100%;
  padding: 87px 120px 0px 91px;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 248px;
}

.nav-box-1 {
  background: rgba(240, 245, 240, 1);
  width: 248px;
  height: 420px;
  border: 1px solid #E3E5E6;
  box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
  border-radius: 10px;
  padding-top: 18px;
  position: relative;
}

.p-1 {
  color: rgba(52, 52, 52, 1);
  height: 30px;
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-left: 48px;
  letter-spacing: 0.0275em;
}

.p-2 {
  color: rgba(52, 52, 52, 0.6);
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  height: 21px;
  margin: 1px 0px 0px 48px;
}

.p-3 {
  color: rgba(52, 52, 52, 1);
  height: 24px;
  font-family: 'opensans-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  margin: 7px 0px 0px 67px;
}

.p-4 {
  text-transform: capitalize;
}

.p-4, .p-5, .p-6, .p-7 {
  color: rgba(52, 52, 52, 1);
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  height: 24px;
  margin: 16px 0px 0px 82px;
}

.p-4, .p-5, .p-6 {
  letter-spacing: 0.022em;
}

.p-7 {
  letter-spacing: 0.0275em;
}

.p-8 {
  color: rgba(52, 52, 52, 1);
  height: 20px;
  font-family: 'opensans-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.75px;
  text-transform: capitalize;
  margin: 20px 0px 0px 83px;
}

.p-9 {
  color: rgba(52, 52, 52, 1);
  height: 24px;
  font-family: 'opensans-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  margin: 16px 0px 0px 67px;
}

.p-10 {
  color: rgba(52, 52, 52, 1);
  font-family: 'opensans-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  margin: 16px 0px 0px 67px;
}

.p-11 {
  color: rgba(52, 52, 52, 0.6);
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  margin-left: 67px;
}

.arrow-right {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 31px;
  margin-left: 16px;
}

.arrow-down {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 79px;
  left: 35px;
}

.arrow-down-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 280px;
  left: 169px;
}

.arrow-right-2, .arrow-right-3 {
  position: absolute;
  width: 24px;
  height: 24px;
}

.arrow-right-2 {
  top: 319px;
  left: 35px;
}

.arrow-right-3 {
  top: 367px;
  left: 35px;
}

.nav-box-2 {
  background: rgba(240, 245, 240, 1);
  border: 1px solid #E3E5E6;
  box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
  border-radius: 10px;
  width: 248px;
  height: 58px;
  margin-top: 19px;
  padding: 0 26px 0 24px;
  display: flex;
  justify-content: space-between;
}

.np-2 {
  color: rgba(52, 52, 52, 1);
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  width: 170px;
  height: 33.54px;
  margin-top: 11px;
}

.arrow-down-3 {
  width: 28px;
  height: 29.35px;
  margin-top: 13px;
}

.nav-box-3 {
  width: 248px;
  height: 187px;
  background: #F0F5F0;
  box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
  border-radius: 10px;  
  padding: 23px 0px 0px 24px;
  margin-top: 21px;
}

.h5-1 {
  color: rgba(52, 52, 52, 1);
  width: 170px;
  height: 32px;
  font-family: 'inter-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.0275em;
}

.div-1, .div-2, .div-3, .div-4 {
  display: flex;
  align-items: center;
  height: 24px;
}

.div-1 {
  margin-top: 8px;
}

input[type="radio"] {
  margin-right: 10px;
}

.rp {
  color: rgba(52, 52, 52, 1);
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.022em;
  height: 24px;
}

.right {
  padding-left: 87px;
}

.right-top, .right-center,
.right-bottom {
  display: flex;
  justify-content: space-between;
}

.right-center, .right-bottom {
  margin-top: 22.5px;
}

.card-1, .card-2, .card-3, .card-4,
.card-5, .card-6, .card-7, .card-8,
.card-9 {
  width: 282px;
  height: 369.5px;
  background: #FFFFFF;
  box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
  border-radius: 16px;
  padding: 20px;
}

.card-2, .card-3, .card-5, .card-6, 
.card-8, .card-9 {
  margin-left: 24px;
}

.img-1, .img-2, .img-3, .img-4, 
.img-5, .img-6, .img-7, .img-8,
.img-9 {
  width: 242px;
  height: 175.5px;
  border-radius: 8px;
}

.img-1 {
  background-image: url(images/Frame-65.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-content {
  padding: 0px 8px;
  margin-top: 16px;
}

.h3-1 {
  color: rgba(52, 52, 52, 1);
  height: 27px;
  font-family: 'opensans-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.price-350 {
  color: rgba(52, 52, 52, 1);
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-top: 4px;
}

.buy-button {
  width: 242px;
  height: 64px;
  background: #3B823E;
  box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'opensans-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 16px;
}

.img-2 {
  background-image: url(images/frame-65-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-3 {
  background-image: url(images/frame-65-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-4 {
  background-image: url(images/frame-65-3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-5 {
  background-image: url(images/frame-65-4.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-6 {
  background-image: url(images/frame-65-5.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-7 {
  background-image: url(images/frame-65-6.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-8 {
  background-image: url(images/frame-65-7.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-9 {
  background-image: url(images/frame-65-8.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.l-div {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 28.5px 506px 0px 0px;
}

.load {
  color: rgba(52, 52, 52, 1);
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-decoration-line: underline;
  margin-right: 2px;
}

.c-28 {
  width: 28px;
  height: 28px;
}

footer {
  width: 100%;
  margin-top: 58px;
  background: rgba(67, 110, 53, 1);
  height: 306px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 120px 0px;
}

.logo-2 {
  background-image: url(images/Logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 259.26px;
  height: 78px;
}

.f-left, .f-right {
  display: flex;
}

.quick-links {
  margin: 0 64px;
}

.h4-2 {
  color: rgba(255, 255, 255, 1);
  font-family: 'opensans-bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.f-a, .rights {
  color: rgba(255, 255, 255, 1);
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.f-div {
  padding-top: 16px;
}

.f-div-1 {
  padding-top: 8px;
}

.badge {
  width: 178px;
  height: 160px;
  background-image: url(images/Company-Badge.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 46.56px;
}

.container {
  text-align: right;
  width: 176px;
  height: 140px;
}

.socials {
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  width: 176px;
}

.sc-1, .sc-2, .sc-3 {
  width: 48px;
  height: 48px;
  background: rgba(1, 55, 12, 1);
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center
}

.sc-1, .sc-2 {
  padding-top: 15px;
}

.sc-3 {
  padding-top: 12px;
}

.fb {
  width: 10px;
  height: 18px;
}

.twt {
  width: 22px;
  height: 18px;
}

.in {
  width: 24px;
  height: 24px;
}

.mini-footer {
  margin-top: 29px;
  width: 100%;
  height: 57px;
  background: rgba(1, 55, 12, 1);
  display: flex;
  justify-content: center;
}

.m-p {
  color: rgba(255, 255, 255, 1);
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.container-2 {
  width: 692px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pay {
  background-image: url(images/pay.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 240px;
  height: 33px;
}

